/* колір основного тексту - #555555 */
/* колір заголовку -  #303030 */
/* колір підзаголовку #9DA4BD99 */
/* вторинний колір тексту #9DA4BD */
/* білий колір  #FFFFFF; */
/* акцент #FF6C00 */
/* вторинний фон  #E5E5E5; */

:root {
  --primary-text-color: #555555;
  --secondary-text-color: #9da4bd;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --up-title-color: #9da4bd99;
  --accent-color: #ff6c00;
  --secondary-background-color: #e5e5e5;
  --our-barbers-background-color: #f7f7f7;
  --primary-font-family: 'Open Sans';
  --title-font-family: 'Raleway';
}

/* ---------------- body ---------------- */

body {
  background-color: var(--first-title-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family), sans-serif;
  letter-spacing: 0.02em;
}

/* ---------------- list ---------------- */
.list {
  list-style: none;
}

/* ---------------- link ---------------- */
.link {
  text-decoration: none;
}

/* ---------------- button ---------------- */
.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--accent-color);
}

/* ---------------- section ---------------- */
.section-uptitle {
  color: var(--second-title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  text-transform: uppercase;
}

.section-title {
  font-family: var(--title-font-family) sans-serif;
  color: var(--second-title-color);
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.section-text {
  font-size: 18px;
  line-height: 1.67;
}

/* ---------------- header ---------------- */

.header {
  background-image: url(../images/hero_image.jpg);
}

.header-nav-link {
  color: var(--first-title-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

.header-contact-link {
  color: var(--first-title-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* ---------------- hero ---------------- */
.hero {
  background-color: black;
}

.hero-link {
  color: var(--second-title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-title {
  font-size: 72px;
  line-height: 1.2;
  color: var(--first-title-color);
}

.hero-uptitle {
  color: var(--secondary-text-color);
}

.hero-text {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.67;
}

/* ---------------- about ---------------- */
.about {
}
.about-uptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.about-title {
  font-family: var(--hero-title-font-family), sans-serif;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}
.about-subtitle {
  font-size: 18px;
  line-height: 1.66;
}

.about-text {
  font-size: 14px;
  line-height: 1.85;
}

/* ---------------- prices ---------------- */
.prices {
  background-image: url(../images/contacts.jpg);
}

.prices-uptitle {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.prices-title {
  color: var(--first-title-color);
}

.prices-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
}

/* ---------------- benefits ---------------- */

.benefits-uptitle {
  color: var(--second-title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.benefits-count {
  color: var(--second-title-color);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.benefits-plus {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  position: absolute;
}

.benefits-list-text {
  color: var(--second-title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

/* ---------------- barbers ---------------- */

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}

.barbers-item-text {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
}

/* ---------------- gallery ---------------- */

/* ---------------- booking ---------------- */

.booking {
  background-image: url(../images/contacts.jpg);
}

.booking-title {
  color: var(--first-title-color);
  font-size: 42px;
  line-height: 1.16;
}

/* ---------------- contacts ---------------- */
.contacts {
  background-image: url(../images/contacts.jpg);
}

.contacts-title {
  color: var(--first-title-color);
  font-size: 42px;
  line-height: 1.16;
}

.contacts-link {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  text-decoration: none;
}

.contacts-link.number {
  font-weight: 400;
}

.contacts-link.mail {
  font-weight: 400;
  text-decoration-line: underline;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-schedule-title {
  color: var(--first-title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.contacts-schedule-text {
  color: var(--up-title-color);
}

/* footer */

.footer-text {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.footer-link {
  color: var(--second-title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
