:root {
  --primary-text-color: #555555;
  --secondary-text-color: #9da4bd;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --up-title-color: #9da4bd99;
  --accent-color: #ff6c00;
  --secondary-background-color: #e5e5e5;
  --our-barbers-background-color: #f7f7f7;
  --modal-background-rgba: rgba(0, 0, 0, 0.2);
  --modal-box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%),
    0 2px 1px rgb(0 0 0 / 20%);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-font-family: 'Open Sans';
  --title-font-family: 'Raleway';
}
