body {
  background-color: var(--first-title-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family), sans-serif;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}
