.footer-nav {
  display: flex;
  align-items: center;
}

.footer-text {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.footer-list {
  display: flex;
  margin-left: auto;
}

.footer-item {
  margin-left: 40px;
}

.footer-link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;

  color: var(--second-title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
