.header {
  position: absolute;
  width: 100%;
}

.header .logo {
  margin-right: 131px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  gap: 30px;
}

.header-item {
  display: block;
}

.header-nav-link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  color: var(--first-title-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contact-link {
  margin-right: 40px;
  color: var(--first-title-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
