.hero-container {
  display: flex;
}

.soc-list {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  align-items: center;
  gap: 40px;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--second-title-color);
  }
}

.hero-link {
  color: var(--second-title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.hero-wrap {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero_image.jpg);
  padding: 272px 100px 208px 100px;
  flex-grow: 1;
}

.hero-uptitle {
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}

.hero-title {
  margin-bottom: 20px;

  font-size: 72px;
  line-height: 1.2;
  color: var(--first-title-color);
}

.hero-text {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.67;
  max-width: 357px;
}
